AIRFLOW_UID=50000
FERNET_KEY=YOUR_KEY
AIRFLOW__CORE__FERNET_KEY=YOUR_KEY
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=orders_db
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio:9000
MINIO_BUCKET_NAME=orders
ORDERS_API_URL=http://orders-api:8000
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=password
CLICKHOUSE_DATABASE=default
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
